<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'community_profession/css/bootstrap.min.css' %}">
    <script src="{% static 'community_profession/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'community_profession/js/popper.min.js' %}"></script>
    <script src="{% static 'community_profession/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Common style guid css -->
    <link rel="stylesheet" href="{% static 'community_profession/css/style-guid.css' %}">
    <!-- Sign Up css -->
    <link rel="stylesheet" href="{% static 'community_profession/css/sign-up.css' %}">
    <!-- password-reset -->
    <link rel="stylesheet" href="{% static 'community_profession/css/password-reset.css' %}">
    <!-- Font awsome kit -->
    <script src="https://kit.fontawesome.com/8ba851d087.js" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
    <div class="container-fluid bg-dark">

        <!-- Start Sign up slide -->
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>

            <!-- Start Sign up main -->
            <div class="col-sm-10 col-md-10 sign-up-bg text-center">

                <!-- Start Forgot Password heading -->
                <div class="row">
                    <div class="col-md-12 forgot-password-heading">
                        Your password has been set.
                    </div>
                </div>
                <!-- End Forgot Password heading -->




                <!-- Start go back sign in -->
                <div class="row">
                    <div class="col-md-12 go-back-heading pt-4">
                        Click Here to <a href="{% url 'sign-in' %}" class="text-decoration-none">Sign In</a>
                    </div>
                </div>
                <!-- End go back sign in -->

            </div>
            <!-- End Sign up main -->

            <div class="col-sm-1 col-md-1"></div>

        </div>
        <!-- End Sign up slide -->


    </div>
</body>
</html>










<!--
<div class="alert alert-info">
    Your password has been set.
</div>
<a href="{% url 'sign-in' %}">Sign In Here</a>-->
