<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'community_profession/css/bootstrap.min.css' %}">
    <script src="{% static 'community_profession/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'community_profession/js/popper.min.js' %}"></script>
    <script src="{% static 'community_profession/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Common style guid css -->
    <link rel="stylesheet" href="{% static 'community_profession/css/style-guid.css' %}">
    <!-- Sign Up css -->
    <link rel="stylesheet" href="{% static 'community_profession/css/sign-up.css' %}">
    <!-- password-reset -->
    <link rel="stylesheet" href="{% static 'community_profession/css/password-reset.css' %}">
    <!-- Font awsome kit -->
    <script src="https://kit.fontawesome.com/8ba851d087.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid bg-dark">

        <!-- Start Sign up slide -->
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>

            <!-- Start Sign up main -->
            <div class="col-sm-10 col-md-10 sign-up-bg text-center">

                <!-- Start Forgot Password heading -->
                <div class="row">
                    <div class="col-md-12 forgot-password-heading">
                        Enter New Password
                    </div>
                </div>
                <!-- End Forgot Password heading -->


                <form method="POST">
                    {% csrf_token %}
                <!-- Start email-mobile input box -->
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 sign-up-form ">
                        <!--<div class="input-group mb-3 mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text border-right-0" id="inputGroup-sizing-default"><i class="fa-solid fa-envelope"></i></span>
                            </div>
                            <input type="text" class="form-control border-left-0" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter your email">
                        </div>-->

                        {{ form }}
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <!-- End email-mobile input box -->

                <!-- Start reset password buton -->
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 pl-5 pr-5 reset-passsword-btn">
                        <button class="btn btn-lg btn-block btn-normal">Reset Password</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <!-- End reset password buton -->
                </form>
                <!-- Start go back sign in -->
                <div class="row">
                    <div class="col-md-12 go-back-heading">
                        Go back <a href="{% url 'sign-in' %}" class="text-decoration-none">Sign In</a>
                    </div>
                </div>
                <!-- End go back sign in -->

            </div>
            <!-- End Sign up main -->

            <div class="col-sm-1 col-md-1"></div>

        </div>
        <!-- End Sign up slide -->


    </div>
</body>
</html>





<!--
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            {{ form }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Reset Password</button>
        </div>
    </form>
</div>-->
