.privacy-policy-heading
{
    font-family: var(--font-2);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.313rem;
    color: var(--color-2);
    padding-top:1.875rem;
    padding-bottom:1.875rem;
}

.privacy-policy-sub-heading
{
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 145%;
    color: var(--color-2);
    padding-top:1.25rem;
}

.privacy-policy-content
{
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 145%;
    color: var(--color-2);

}

/* Start Mobile view */

@media all and (min-width: 577px) {

}


@media all and (max-width: 576px) {

    .privacy-policy-heading
    {
        font-family: var(--font-2);
        font-style: normal;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.438rem;
        color: var(--color-2);
        padding-top:1.875rem;
        padding-bottom:1.875rem;
    }

    .privacy-policy-sub-heading
    {
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 145%;
        color: var(--color-2);
        padding-top:1.25rem;
    }

    .privacy-policy-content
    {
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 145%;
        color: var(--color-2);
    }

}

@media (min-width: 577px) {
	html {
		font-size: 40%;
	}

}

@media (min-width: 768px) {
	html {
		font-size: 45%;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 60%;
	}
}


@media (min-width: 1200px) {
	html {
		font-size: 80%;
	}
}

@media (min-width: 1920px) {
	html {
		font-size: 100%;
	}
}

/* End Mobile Views */