.privacy-policy-heading
{
    font-family: var(--font-2);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.313rem;
    color: var(--color-2);
    padding-top:1.875rem;
    padding-bottom:1.875rem;
}

.privacy-policy-sub-heading
{
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 145%;
    color: var(--color-2);
    padding-top:1.25rem;
}

.privacy-policy-content
{
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 145%;
    color: var(--color-2);

}