/* Start oweal carosuel - style */
/*
   * 	Core Owl Carousel CSS File
   *	v1.3.3
   */
/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* display none until init */
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
	float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
	cursor: pointer;
}

.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
	cursor: url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}

/*-------*/
.stretch-card>.card {
	width: 100%;
	min-width: 100%
}

.flex {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto
}

@media (max-width:991.98px) {
	.padding {
		padding: 1.5rem
	}
}

@media (max-width:767.98px) {
	.padding {
		padding: 1rem
	}
}

.owl-carousel .item {
	margin: 3px;
}

.owl-carousel .item img {
	display: block;
	width: 100%;
}

.owl-carousel .item {
	margin: 3px;
}

.owl-item {
	width: 100%;
}

/* End oweal carosuel - style */

.profession-cart .card
{
    background-color:var(--color-15);
    min-width: 100%;
    height:240px;
}

.profession-cart .card .card-header
{
    padding:0rem 0.313rem;
}

.profession-cart .profession-img .img-fluid
{
    height:9.375rem;
}

.profession-cart .border-1
{
    /*border:0.063rem solid var(--color-3);*/
    border: 1px solid rgba(204, 173, 224, 0.2);
}

.profession-cart .heading
{
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 145%;
    color: var(--color-2);
    padding-top:0.438rem;
    padding-bottom:0.313rem;
}

.profession-cart .sub-heading
{
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 180%;
    color: var(--color-2);
}

.profession-cart .content
{
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 180%;
    color: rgba(255, 255, 255, 0.6);
    text-align:center;
}


/* Start Mobile view */

@media all and (min-width: 577px)
{

}


@media all and (max-width: 576px)
{

}

@media (min-width: 577px)
{
    html{
        font-size: 40%;
    }

    .profession-cart .card
    {
        height:95px;
    }

}

@media (min-width: 768px)
{
    html{
        font-size: 45%;
    }

    .profession-cart .card
    {
        height:95px;
    }
}

@media (min-width: 992px)
{
    html{
        font-size: 60%;
    }
    .profession-cart .card
    {
        height:138px;
    }
}


@media (min-width: 1200px)
{
    html{
        font-size: 80%;
    }

    .profession-cart .card
    {
        height:192px;
    }
}

@media (min-width: 1920px)
{
    html{
        font-size: 100%;
    }

    .profession-cart .card
    {
        height:244px;
    }
}

/* End Mobile Views */
