<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<!-- Start Profile Picture -->
<div class="float-child">
 <div class="row">
    <div class="col-md-12">
       <img class="img-fluid rounded-circle"
          src="{{Question.User_Profile.profile_image.url}}" alt="Chania"
          height="100%" width="100%">
    </div>
 </div>
</div>
<!-- End Profile Picture -->
<div class="float-child-1">
     <!-- Start community name -->
     <div class="row">
        <div class="col-md-12 community-name">
          {{Question.User_Profile.usertype.user_id.first_name}}
           {{Question.User_Profile.usertype.user_id.last_name}}

        </div>
     </div>
     <!-- End community name -->
     <!-- Start community time -->
     <div class="row">
        <div class="col-md-12 community-time">
           {{Question.Date}} {{Question.Time}}
        </div>
     </div>
     <!-- End community time -->
</div>


</body>
</html>