<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="row pt-2 pd-2">
   <div class="col-12 col-sm-12 col-md-12">

      <!-- Start like button -->
      <span class="d-inline-block">
         <form action="{% url 'like_Review' %}" method="POST" class="like-form" id="{{k.id}}">
            {% csrf_token %}
                <input type="hidden" name="post_id" value="{{k.id}}">
                <button type="submit" class="btn p-0 community-like-dislike-btn like-btn{{k.id}}">
                    {% if userprofile not in k.like.all %}
                        <i class="fa-regular fa-thumbs-up"></i>
                    {% else %}
                        <i class="fa-solid fa-thumbs-up"></i>
                    {% endif %}
                </button>
                <span class="btn pl-0 community-like-dislike-btn like-count{{k.id}}">
                    {{ k.like.all.count }}
                </span>
         </form>
      </span>
      <!-- End like button -->

      <!-- Start comment button -->

      <!-- End comment button -->
   </div>
</div>



</body>
</html>