.edit-community
{
    background-color:var(--color-12);
}

.edit-community .form-group .form-control
{
    background-color:var(--color-15);
}

.edit-community .form-group label

{
    color:var(--color-13);
}


form .form-group .form-control
{
    background-color: #fff0;
    border: 0.063rem solid rgba(255, 255, 255, 0.2);
}