{% extends 'community_profession/index.html' %}
{% load static %}
{% block title %}
<title>All Photos & Videos</title>
{% endblock title %}
{% block own_css %}
<!--   own css   -->
<link rel="stylesheet" href="{% static 'community_profession/css/see-all-photos-and-videos.css' %}">
<link rel="stylesheet" href="{% static 'community_profession/css/community/ask-post-pop-up-css.css' %}">
<link rel="stylesheet" href="{% static 'community_profession/css/community/community.css' %}">

{% endblock own_css %}
{% block content %}
<!-- Start all photos and videos -->
<div class="row see-all-photos-videos">
   <div class="col-md-12">
      <div class="row">
         {% for i in profession_image %}
         <div class="col-6 col-sm-4 col-md-3 ">
            <div class="row profession-images">
               <div class="col-md-12 border rounded border-info">
                  <div class="row pt-3">
                     <div class="col-md-12 text-center">
                        <img src="{{i.image.url}}" class="img-fluid rounded">
                     </div>
                  </div>
                  <div class="row pt-3">
                     <div class="col-12 col-sm-12 col-md-12 text-center">
                        <a href="{% url 'photo-screen' i.id %}" class="btn btn-sm d-inline-block" style="color:#B5DFDF;">
                           <i class="fa-solid fa-eye"></i> Views
                        </a>

                        <form action="{% url 'delete_Image' i.id %}" class="d-inline-block">
                           <button type="submit" value="{{i.profession.id}}" name="profession" class="btn btn-sm" style="color:#B5DFDF;">
                              <i class="fa-solid fa-trash-can"></i>
                           </button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
<!-- End all photos and videos -->
{% endblock content %}