<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'community_profession/css/bootstrap.min.css' %}">
    <script src="{% static 'community_profession/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'community_profession/js/popper.min.js' %}"></script>
    <script src="{% static 'community_profession/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Common style guid css -->
    <link rel="stylesheet" href="{% static 'community_profession/css/style-guid.css' %}">
    <!-- Sign Up css -->
    <link rel="stylesheet" href="{% static 'community_profession/css/sign-up.css' %}">
    <!-- Font awsome kit -->
    <script src="https://kit.fontawesome.com/8ba851d087.js" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
    <div class="container-fluid bg-dark">
        
        <!-- Start Sign up slide -->
        <div class="row">
            <div class="col-md-1"></div> 

            <!-- Start Sign up main -->
            <div class="col-md-10 sign-up-bg text-center"> 

                <!-- Start Forgot Password heading -->
                <div class="row">
                    <div class="col-md-12 forgot-password-heading">
                        Forgot Password?
                    </div>
                </div>
                <!-- End Forgot Password heading -->

                <!-- Start Forgot Password sub heading -->
                <div class="row">
                    <div class="col-md-12 forgot-password-sub-heading">
                        Reset password in two quick steps
                    </div>
                </div>
                <!-- End Forgot Password sub heading -->

                <!-- Start email-mobile heading -->
                <div class="row">
                    <div class="col-md-12 email-phone-heading">
                        Enter your email or phone number
                    </div>
                </div>
                <!-- End email-mobile heading -->

                <!-- Start email-mobile input box -->
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 sign-up-form">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text border-right-0" id="inputGroup-sizing-default"><i class="fa-solid fa-envelope"></i></span>
                            </div>
                            <input type="text" class="form-control border-left-0" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter your email or phone number">
                        </div>  
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <!-- End email-mobile input box -->

                <!-- Start reset password buton -->
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 pl-5 pr-5 reset-passsword-btn">
                        <button class="btn btn-lg btn-block btn-normal">Reset Password</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <!-- End reset password buton -->

            </div>
            <!-- End Sign up main -->

            <div class="col-md-1"></div>             
            
        </div>
        <!-- End Sign up slide -->

        
    </div>    
</body>
</html>