{% extends 'community_profession/community.html' %}
{% load static %}
{% block title %}
<title>Write Comment</title>
{% endblock title %}
{% block own_css %}
<!--   use Community css as a base css   -->
<link rel="stylesheet" href="{% static 'community_profession/css/community/community.css' %}">
<!-- own css Community write comment screen css -->
<link rel="stylesheet" href="{% static 'community_profession/css/community/community-write-comment-screen.css' %}">
<link rel="stylesheet" href="{% static 'community_profession/css/community/ask-post-pop-up-css.css' %}">
{% endblock own_css %}
{% block community_content %}
<!-- Start community-profile-img, heading, post -->
<div class="row pl-3">
   <!-- Start community-profile-img -->
   <div class="col-2 col-sm-1 col-md-1 pt-2 ">
      <img class="img-fluid rounded-circle" src="{{i.User_Profile.profile_image.url}}" alt="Chania">
   </div>
   <!-- End community-profile-img -->
   <!-- Start community-heading, no-members -->
   <div class="col-9 col-sm-6 col-md-6 pt-2 community-heading-members">
      <!-- Start community-heading -->
      <div class="row">
         <div class="col-md-12 community-heading">
            {{i.User_Profile.usertype.user_id.first_name}} {{i.User_Profile.usertype.user_id.last_name}} <br>
            
         </div>
      </div>
      <!-- End community-heading -->
      <!-- Start community-no-members -->
      <div class="row">
         <div class="col-md-12">
            {{i.Date}} / {{i.Time}} ago
         </div>
      </div>
      <!-- End community-no-members -->
   </div>
   <!-- End community-heading, no-members -->
   <!-- Stat community posted-by-u-name -->
   <div class="col-1 col-sm-5 col-md-5 pt-2">
      <div class="row posted-by-u-name">
      </div>
   </div>
   <!-- End community posted-by-u-name -->
</div>
<!-- End community-profile-img, heading, post -->
<!-- Start Community sub heading -->
<div class="row pl-3">
   <!-- Start community-sub-heading -->
   <div class="col-12 col-sm-12 col-md-12 community-sub-heading pt-2">
      {{i.Question}}
   </div>
   <!-- End community-sub-heading -->
</div>
<!-- End Community sub heading -->
<!-- Start post-img-video -->
<!-- <div class="row pl-3 pt-3">
   <div class="col-md-12">
       <img src="" alt="">
   </div>
   </div> -->
<!-- End post-img-video -->
<!-- Start no-of-like, no-of-comments, share -->
<div class="row pl-3 pt-3 like-comment-share">
    <!-- Start no-of-like -->
    <div class="col-md-1">
      <a href="{% url 'like_Question' i.id %}">
         {% if userprofile not in i.Question_Like.all %}
         <button type="submit" class="fa-solid fa-thumbs-up"></button>
         {% else %}
         <button type="submit" class="fa-solid fa-thumbs-down"></button>
         {% endif %}
      </a>{{ i.Question_Like.all.count }} Likes
    </div>
    <!-- End no-of-like -->

    <!-- Start  no-of-comments -->
    <div class="col-md-1">
        <i class="fa-solid fa-message"></i> 
        {% if i.answer is None %}
        0
        {% else %}
        {{i.answer}}
        {% endif %}
    </div>
    <!-- End  no-of-comments -->

    <!-- Start share -->
    <div class="col-md-1">
        <i class="fa-solid fa-share-nodes"></i>
    </div>
    <!-- End share -->

    <div class="col-md-9"></div>
</div>


<!-- End no-of-like, no-of-comments, share -->

<!-- Start community-user-name -->
<div class="row pl-3 pt-2 community-user-name">
   <div class="col-3 col-sm-2 col-md-1 pl-5 pr-3">
      <img class="img-fluid rounded-circle" src="{{user.profile_image.url}}" alt="Chania">
   </div>
   <div class="col-9 col-sm-5 col-md-5 pt-3">
      <!-- <span class="commnet-as">Comment as</span> -->
      <span>{{user.usertype.user_id.first_name}} {{user.usertype.user_id.last_name}}</span>
   </div>
</div>
<!-- End community-user-name -->
<!-- Start comment-text-box -->
<form action="{% url 'Add_Answer' i.id %}" method="POST">
   {% csrf_token %}
   <div class="row pl-3">
      <div class="col-md-12 pt-3 comment-text-box">
         <div class="form-group">
            <textarea maxlength="300" class="form-control" name="answer" rows="4" id="comment" placeholder="What do you think?" required></textarea>
         </div>
      </div>
   </div>
   <!-- End comment-text-box -->
   <!-- Start cancel-post-btn -->
   <div class="row pl-3 pt-3  cancel-post-btn">
      <div class="col-md-12 pb-3 text-right border-bottom">
         <!-- Start cancel-btn -->
         <!--<span class="cancel-btn">
         <button type="submit" class="btn pl-5 pr-5">Cancel</button>
         </span>-->
         <!-- End cancel-btn -->
         <!-- Start post-btn -->
         <span class="post-btn">
         <button type="submit" class="btn pl-5 pr-5">Post</button>
         </span>
         <!-- End post-btn -->
      </div>
   </div>
</form>
<!-- End cancel-post-btn -->
<!-- Start Comments heading -->
<div class="row pl-3 pt-3 pb-3">
   <div class="col-md-12 comments-heading">
   </div>
</div>
<!-- End Comments heading -->
<!-- Start Comments -->
{% for Answer in Answer_id %}
<div class="row pl-3">
   <div class="col-md-12 all-comments pb-3 border-bottom pt-2">
      <!-- Start user-profile, user-community-name, time -->
      <div class="row">
         <!-- Start user-profile -->
         <div class="col-2 col-sm-1 col-md-1">
            <img class="img-fluid rounded-circle" src="{{Answer.User_Profile.profile_image.url}}" alt="Chania">
         </div>
         <!-- End user-profile -->
         <!-- Start user-community-name, time -->
         <div class="col-10 col-sm-11 col-md-11 user-community-name">
            {{Answer.User_Profile.usertype.user_id.first_name}} {{Answer.User_Profile.usertype.user_id.last_name}} <br>
            <span>{{Answer.Date}} / {{Answer.Time}} ago</span>
         </div>
         <!-- End user-community-name, time -->
      </div>
      <!-- End user-profile, user-community-name, time -->
      <!-- Start comment -->
      <div class="row pt-2">
         <div class="col-md-12 comment">
            {{Answer.Answer}}
         </div>
      </div>
      <!-- End comment -->
      <!-- Start like-reply-share -->
      <div class="row pt-3">
         <div class="col-md-12 like-reply-share">
            <span class="">
               <a href="{% url 'like_Answer' Answer.id %}">
                  {% if userprofile not in Answer.Answer_Like.all %}
                  <button type="submit" class="fa-solid fa-thumbs-up"></button>
                  {% else %}
                  <button type="submit" class="fa-solid fa-thumbs-down"></button>
                  {% endif %}
               </a>{{ Answer.Answer_Like.all.count}} Likes
            </span>
            <span class="pl-5">
            <a href="{% url 'Add_Answer_Reply' Answer.id %}" class="text-decoration-none"><i class="fa-solid fa-message"></i>
               {% if Answer.reply is None %}
               0
               {% else %}
               {{Answer.reply}}
               {% endif %}
            </a>
            </span>
            <span class="pl-5">
            <i class="fa-solid fa-share-nodes"></i>
            </span>
         </div>
      </div>
      <!-- Start like-reply-share -->
   </div>
</div>

{% endfor %}
<!-- End Comments -->
{% endblock community_content %}