{% extends 'community_profession/community.html' %}
{% load static %}
{% load social_share %}
{% block title %}
<title>Add Answer</title>
{% endblock title %}
{% block own_css %}
<!-- own css Community write comment screen css -->
<link rel="stylesheet" href="{% static 'community_profession/css/community/community-write-comment-screen.css' %}">
<link rel="stylesheet" href="{% static 'community_profession/css/community/ask-post-pop-up-css.css' %}">
<!--   use Community css as a base css   -->
<link rel="stylesheet" href="{% static 'community_profession/css/community/community.css' %}">
{% endblock own_css %}
{% block community_content %}
<!-- Start community-profile-img, heading, post -->
<div class="row community-body pt-3 pl-3">
   <div class="col-md-12">
      <div class="comment-float-child">
         <div class="row">
            <!-- Start community-profile-img -->
            <div class="col-12 col-sm-12 col-md-12   community-post-profile-picture">
               <img class="img-fluid rounded-circle" src="{{i.User_Profile.profile_image.url}}" alt="Chania" height="100%" width="100%">
            </div>
            <!-- End community-profile-img -->
         </div>
      </div>
      <div class="comment-float-child-1">
         <div class="row">
            <!-- Start Community name and time -->
            <div class="col-12 col-sm-12 col-md-12 pl-0">
               <!-- Start community name -->
               <div class="row">
                  <div class="col-md-12 community-name pl-0">
                     <a href="{% url 'profession-profile-screen' i.User_Profile.usertype.user_id.id  %}" class="text-decoration-none">{{i.User_Profile.usertype.user_id.first_name}} {{i.User_Profile.usertype.user_id.last_name}}</a>
                  </div>
               </div>
               <!-- End community name -->
               <!-- Start community time -->
               <div class="row">
                  <div class="col-md-12 community-time pl-0">
                     {{i.Date}} / {{i.Time}}
                     <!-- Ago -->
                  </div>
               </div>
               <!-- End community time -->
            </div>
            <!-- End Community name and time -->
         </div>
      </div>
   </div>
</div>
<!-- End community-profile-img, heading, post -->

<!-- Start Community sub heading -->
<div class="row pl-3 pt-3">
   <!-- Start community-sub-heading -->
   <div class="col-sm-12 col-md-12 community-sub-heading pt-2">
   <!-- <div class="col-12 col-sm-12 col-md-12 community-sub-heading pt-2"> -->
      {{i.Question}}
   </div>
   <!-- End community-sub-heading -->
</div>
<!-- End Community sub heading -->

<!-- Start no-of-like, no-of-comments, share -->
<div class="row ">
   <div class="col-md-12 pl-5">
      <div class="row  pt-3 pb-3 like-comment-share border-bottom">
         <!-- Start no-of-like -->
         <span class="d-inline-block">
            <form action="{% url 'like_Question' %}" method="POST" class="like-form" id="{{i.id}}">
               {% csrf_token %}
               <input type="hidden" name="post_id" value="{{i.id}}">
                  <button type="submit" class="btn community-like-dislike-btn like-btn{{i.id}}">
                     {% if userprofile not in i.Question_Like.all %}
                        <i class="fa-solid fa-thumbs-up"></i>
                     {% else %}
                        <i class="fa-solid fa-thumbs-down"></i>
                     {% endif %} 
                  </button>
               <span class="btn community-like-dislike-btn like-count{{i.id}}">{{ i.Question_Like.all.count }}</span>
            </form>
         </span>
         <!-- End no-of-like -->
         <!-- Start  no-of-comments -->
         <span class=" community-like-dislike-btn pt-2">
         &nbsp; &nbsp; <i class="fa-solid fa-message"></i>  &nbsp; 
         {% if i.answer is None %}
            0
         {% else %}
            {{i.answer}}
         {% endif %}
         </span>
         <!-- End  no-of-comments -->
         <!-- Start share -->
         <span>
         <button type="button" class="btn community-like-dislike-btn" data-target="#share-modal" data-toggle="modal">
         <i class="fa-solid fa-share-nodes"></i>
         </button>
         </span>
         <!-- End share -->
      </div>
   </div>
</div>
<!-- End no-of-like, no-of-comments, share -->


<!-- Start community-user-name -->
<!-- <div class="row pl-3 pt-2 community-user-name ">
   <div class="col-3 col-sm-2 col-md-1  ">
      <img class="img-fluid rounded-circle" src="{{user.profile_image.url}}" alt="Chania">
   </div>
   <div class="col-9 col-sm-5 col-md-5 pt-3">
      <span>{{user.usertype.user_id.first_name}} {{user.usertype.user_id.last_name}}</span>
   </div>
</div> -->
<!-- End community-user-name -->

<!-- Start User Profile icon and name -->
<div class="row community-body pt-3 pl-3">

   <!-- Start Profile picture -->
   <div class="col-2 col-sm-1 col-md-1   community-post-profile-picture">
      <img class="img-fluid rounded-circle" src="{{user.profile_image.url}}" alt="Chania" height="100%" width="100%">
   </div>
   <!-- End Profile picture -->

   <!-- Start Community name and time -->
   <div class="col-5 col-sm-4 col-md-4 pl-0">
      <!-- Start community name -->
      <div class="row">
         <div class="col-md-12 community-name pl-0 pt-2">
            {{user.usertype.user_id.first_name}} {{user.usertype.user_id.last_name}}
         </div>
      </div>
      <!-- End community name -->
   </div>
   <!-- End Community name and time -->

</div>
<!-- End User Profile icon and name -->

<!-- Start comment-text-box -->
<form action="{% url 'Add_Answer' i.id %}" method="POST">
   {% csrf_token %}
   <div class="row pl-3">
      <div class="col-md-12 pt-3 comment-text-box">
         <div class="form-group">
            <textarea maxlength="300" class="form-control" name="answer" rows="4" id="comment" placeholder="What do you think?" required></textarea>
         </div>
      </div>
   </div>
   <!-- End comment-text-box -->
   <!-- Start cancel-post-btn -->
   <div class="row pl-3 pt-3  cancel-post-btn">
      <div class="col-md-12 pb-3 text-right border-bottom">
         <span class="post-btn">
         <button type="submit" class="btn pl-5 pr-5">Post</button>
         </span>
         <!-- End post-btn -->
      </div>
   </div>
</form>
<!-- End cancel-post-btn -->

<!-- Start Comments -->
{% for Answer in Answer_id %}
<div class="row pl-4">
   <div class="col-md-12 all-comments">
      <!-- Start user-profile, user-community-name, time -->
      <div class="row community-body pt-3">
         <div class="comment-float-child">
            <div class="row">
               <!-- Start Profile picture -->
               <div class="col-12 col-sm-12 col-md-12   community-post-profile-picture">
                  <img class="img-fluid rounded-circle" src="{{Answer.User_Profile.profile_image.url}}" alt="Chania" height="100%" width="100%">
               </div>
               <!-- End Profile picture -->
            </div>
         </div>
         <div class="comment-float-child-1">
            <div class="row">
               <!-- Start Community name and time -->
               <div class="col-12 col-sm-12 col-md-12 pl-0">
                  <!-- Start community name -->
                  <div class="row">
                     <div class="col-md-12 community-name pl-0">
                        <a href="{% url 'profession-profile-screen' Answer.User_Profile.usertype.user_id.id  %}" class="text-decoration-none">{{Answer.User_Profile.usertype.user_id.first_name}} {{Answer.User_Profile.usertype.user_id.last_name}}</a>
                     </div>
                  </div>
                  <!-- End community name -->
                  <!-- Start community time -->
                  <div class="row">
                     <div class="col-md-12 community-time pl-0">
                        {{Answer.Date}} / {{Answer.Time}}
                        <!-- Ago -->
                     </div>
                  </div>
                  <!-- End community time -->
               </div>
               <!-- End Community name and time -->
            </div>
         </div>
      </div>
      <!-- End user-profile, user-community-name, time -->
      <!-- Start comment -->
      <div class="row pt-2">
         <div class="col-12 col-sm-12 col-md-12 comment">
            {{Answer.Answer}}
         </div>
      </div>
      <!-- End comment -->
      <!-- Start like-reply-share -->
      <div class="row pt-3">
         <div class="col-md-12 like-reply-share">
            <!-- <span class="">
               <i class="fa-solid fa-thumbs-up"></i> 1.2K
               </span> -->

               <span class="d-inline-block">
                  <form action="{% url 'like_Answer' %}" method="POST" class="like-form" id="{{Answer.id}}">
                     {% csrf_token %}
                     <input type="hidden" name="post_id" value="{{Answer.id}}">
                        <button type="submit" class="btn community-like-dislike-btn like-btn{{Answer.id}}">
                           {% if userprofile not in Answer.Answer_Like.all %}
                              <i class="fa-solid fa-thumbs-up"></i>
                           {% else %}
                              <i class="fa-solid fa-thumbs-down"></i>
                           {% endif %} 
                        </button>
                     <span class="btn community-like-dislike-btn like-count{{Answer.id}}">{{ Answer.Answer_Like.all.count }}</span>
                  </form>
               </span>
            
            <span class="pl-2 community-like-dislike-btn">
            <a href="{% url 'Add_Answer_Reply' Answer.id %}" class="text-decoration-none">
            <i class="fa-solid fa-reply"></i> &nbsp;
            {% if Answer.reply is None %}
               0
            {% else %}
               {{Answer.reply}}
            {% endif %}
            </a>
            </span>
            {% if userprofile.id is Answer.User_Profile.id %}
            <span >
               <a href="#" class="text-decoration-none btn community-like-dislike-btn" data-target="#answer" data-toggle="modal" onclick="Answer_obj('{{Answer.id}}','{{Answer.Answer}}')" >
                  <i class="fa-solid fa-pencil pl-3"></i> &nbsp; 
               </a>
            </span>
            
            <span >
               <a href="{% url 'delete_Answer' Answer.id %}" class="text-decoration-none btn community-like-dislike-btn">
                  <i class="fa-solid fa-trash"></i> &nbsp;
               </a>
            </span>
            {% endif %}
         </div>
      </div>
      <!-- Start like-reply-share -->
   </div>
</div>
{% endfor %}
<!-- End Comments -->

<!-- Start Share Modal -->
<div class="modal create-community-modeal" id="share-modal">
   <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-header">
            <div class="row your-added-questions-heading">
               <div class="col-md-12">Share</div>
            </div>
            <a href="#" data-dismiss="modal" class="close">&times;</a>
         </div>
         <div class="modal-body">
            <!-- Start Share Icon -->
            <div class="row">
               <div class="col-md-12 text-center">
                  <a>{% post_to_facebook object_or_url %}</a>
                  <!-- <a href="" class=" text-decoration-none">
                     <i class="fa fa-facebook">{% post_to_facebook object_or_url %} </i>
                     </a> -->
                  &nbsp;
                  <a>{% post_to_whatsapp object_or_url %}</a>
                  <!-- <a href="#" class=" text-decoration-none">
                     <i class="fa-brands fa-whatsapp"></i>
                     </a> -->
                  &nbsp;
                  <!-- Reddit Icon -->
                  <a>{% post_to_reddit object_or_url %}</a>
                  <!-- end reddit icon -->
                  &nbsp;
               </div>
            </div>
            <!-- End Share Icon -->
            <!-- Start copy link text box -->
            <div class="row d-flex justify-content-center pt-3">
               <div class="col-md-8">
                  <form>
                     <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="CopyURL">
                        <div class="input-group-append">
                           <!-- <span class="input-group-text">COPY</span> -->
                           <span>{% copy_to_clipboard object_or_url%}</span>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
            <!-- End copy link text box -->
         </div>
         <div class="modal-footer">
            <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
         </div>
      </div>
   </div>
</div>
<!-- End Share Modal -->

<!-- start comment edit modal -->
<div class="modal create-community-modeal" id="answer">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Edit Review</h5>
            <a href="#" data-dismiss="modal" class="close">&times;</a>
         </div>
         <form action="" id="Answer" method="POST">
            {% csrf_token %}
            <div class="modal-body">
               <div class="form-group">
                  <label for="" class="modal-sub-heading">Review</label>
                  <input type="text" class="form-control" name="Review" id="demo1" required="true">
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
               <a href="#">
               <button type="submit" class="btn btn-normal-b">Update Review</button>
               </a>
            </div>
         </form>
      </div>
   </div>
</div>
<!-- end comment edit modal -->

<script>
   function Answer_obj(id,val1){
      document.getElementById('Answer').action ='/edit_answer/'+id;
      document.getElementById("demo1").value = val1;
   }
</script> 
{% endblock community_content %}