{% extends 'community_profession/community.html' %}
{% load static %}
{% block title %}
<title>Community Screen</title>
{% endblock title %}
{% block own_css %}
<!-- Ask Post CSS-->
<link rel="stylesheet" href="{% static 'community_profession/css/community/ask-post-pop-up-css.css' %}">
<!--   own css   -->
<link rel="stylesheet" href="{% static 'community_profession/css/community/community.css' %}">
{% endblock own_css %}




{% block community_content %}
<!-- Start Community -->
<div class="row">
   <div class="col-12 col-sm-12 col-md-12 border-bottom pb-2 pt-5 community-body">
      <div class="row">
         <div class="col-2 col-sm-1 col-md-1">
            <img class="img-fluid rounded-circle" src="{{User_POST.User_Profile.profile_image.url}}" alt="Chania" height="100%" width="100%">
         </div>
         <div class="col-5 col-sm-4 col-md-4">
            <div class="row">
               <div class="col-md-12 community-name">
                  {{User_POST.User_Profile.usertype.user_id.first_name}} {{User_POST.User_Profile.usertype.user_id.last_name}}
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 community-time">
                  {{User_POST.Post_Date}} / {{User_POST.Post_Time}} 
                  <!-- Ago -->
               </div>
            </div>
         </div>
      </div>
      <div class="row pt-3">
         <div class="col-12 col-sm-12 col-md-12 community-description">
            <div class="form-group">
               <form action="{% url 'Community_Edit_My_Image' User_POST.id %}" method="POST">
                  {% csrf_token %}
                  <div class="row">
                     <div class="col-9 col-sm-10 col-md-10 community-description edit-form">
                        <textarea type="text" class="form-control" name="Description">{{User_POST.Description}}</textarea>
                     </div>
                     <div class="col-3 col-sm-2 col-md-2 community-description">
                        <button type="submit" class="btn btn-normal-b btn-block">Edit</button>
                     </div>
                  </div>
               </form>
           </div>
         </div>
      </div>
      {% if User_POST.Image %}
      <div class="row community-post-image">
         <div class="col-md-12">
            <div class="row community-post-image-background">
               <div class="col-md-3"></div>
               <div class="col-md-6">
                  <img src="{{User_POST.Image.url}}" alt="" class="img-fluid" width="100%">
               </div>
               <div class="col-md-3"></div>
            </div>
         </div>
      </div>
      {% else %}
      <div></div>
      {% endif %}
   </div>
</div>
{% endblock community_content %}

