{% extends 'community_profession/index.html' %}
{% load static %}
{% block title %}
<title>Nearest Profession list</title>
{% endblock title %}
{% block own_css %}
<!--   own css   -->
<link rel="stylesheet" href="{% static 'community_profession/css/nearrest-professions-list.css' %}">
<link rel="stylesheet" href="{% static 'community_profession/css/community/ask-post-pop-up-css.css' %}">
<link rel="stylesheet" href="{% static 'community_profession/css/community/community.css' %}">
{% endblock own_css %}
{% block content %}
<!-- Start find our artist and saloon window -->
<div class="row">
   <div class="col-12 col-sm-2 col-md-2"></div>
   <div class="col-12 col-sm-8 col-md-8 rounded find-artist-window pb-3">
      <!-- Start find-artist-window heading -->
      <div class="row">
         <div class="col-md-12 find-artist-window-heading">
            {% for profession in Profession_obj %}
               {% if forloop.counter == 1 %}
             <a href="" class="text-decoration-none">
                 <i class="fa-solid fa-arrow-left"></i>
             </a> &nbsp;
               {{profession.profession.Profession_Name}}
               {% endif %}
            {% endfor %}
         </div> 
      </div>
      <!-- End find-artist-window heading -->
      <!-- Start find-artist-window search bar -->
      <div class="row ">
         <div class="col-md-12">
            <form>
               <div class="input-group ">

                   {% if distance %}
                   <div class="input-group-prepend">
                    <!--  <span class="input-group-text">
                     <i class="fa-solid fa-magnifying-glass"></i>
                     </span> -->
                     <button class="input-group-text">
                        <i class="fa-solid fa-magnifying-glass"></i>
                     </button>
                  </div>
                    <input onkeyup="professionSearch()" id="profession-search" type="text" placeholder="Search....." class="form-control">
                   {% elif Profession_obj %}
                   <div class="input-group-prepend">
                    <!--  <span class="input-group-text">
                     <i class="fa-solid fa-magnifying-glass"></i>
                     </span> -->
                     <button class="input-group-text">
                        <i class="fa-solid fa-magnifying-glass"></i>
                     </button>
                  </div>
                   <input onkeyup="professionSearch()" id="profession-search" type="text" placeholder="Search....." class="form-control">
                    {% else %}
                   {% endif %}
               </div>
               <!-- Start Search list -->
               <ul class="list-unstyled" id="profession_id">
                     {% if distance %}
                         {% for i,j in distance.items %}
                         <!-- Start profession list by nearest location -->
                         <li>
                            <div class="row pl-4 pr-4">
                               <div class="col-md-12 mt-3">
                                  <div class="row border rounded border-primary pt-2 pb-2 pl-1">
                                        <!-- Start Profile img -->
                                        <div class="col-1 col-sm-1 col-md-1 p-0 text-right community-post-profile-picture">
                                           <img src="{{i.profession_image.url}}" class="img-fluid rounded-circle" alt="Cinque Terre">
                                        </div>
                                        <!-- End Profile img -->

                                        <!-- Start Professionist name & profession -->
                                        <div class="col-7 col-sm-3 col-md-3 pl-2">
                                           <a href="{% url 'profession-personal-details' i.id %}">
                                              <!-- Start Profession heading -->
                                              <div class="row">
                                                 <div class="col-sm-12 profession-name">
                                                    <!-- {{i.UserProfile.usertype.user_id.first_name}} {{i.UserProfile.usertype.user_id.last_name}} -->
                                                    {{i.shop_name}}
                                                 </div>
                                              </div>
                                              <!-- End Profession heading -->
                                              <!-- Start Profession sub heading -->
                                              <div class="row">
                                                 <div class="col-sm-12 profession-subheading">
                                                    {{i.UserProfile.usertype.user_id.first_name}} {{i.UserProfile.usertype.user_id.last_name}}
                                                    <!-- {{i.profession.Profession_Name}} -->
                                                 </div>
                                              </div>
                                              <!-- End Profession sub heading -->
                                           </a>
                                        </div>
                                        <!-- End Professionist name & profession -->

                                        <!-- Start Rating -->
                                        <div class="col-3 col-sm-2 col-md-2 pt-3">
                                           <div class="row">
                                              <div class="col-md-12 rating-online-status text-light">
                                                 <img class="img-fluid" src="{% static 'community_profession/img/flag.png' %}" alt="Chania">
                                                 &nbsp;
                                                 <span class="profession-subheading pt-5" >{{i.Profession_Rating}}</span>
                                              </div>
                                           </div>
                                        </div>
                                        <!-- End Rating -->

                                        <!-- Start Address -->
                                        <div class="col-12 col-sm-6 col-md-6  profession-address">
                                           <div class="row">
                                              <div class="col-md-12">
                                                 {{i.shop_address}}, {{i.shop_city}}, {{i.shop_state}}--{{j}}
                                              </div>
                                           </div>
                                        </div>
                                        <!-- End Address -->
                                  </div>
                               </div>
                            </div>
                         </li>
                         <!-- End profession list by nearest location -->
                         {% endfor %}
                     {% elif Profession_obj %}
                         {% for k in Profession_obj %}
                         <!-- Start profession list by drop down -->
                         <li>
                             <div class="row pl-4 pr-4">
                               <div class="col-md-12 mt-3">
                                  <div class="row border rounded border-primary pt-2 pb-2 pl-1">
                                        <!-- Start Profile img -->
                                        <div class="col-1 col-sm-1 col-md-1 p-0 text-right community-post-profile-picture">
                                           <img src="{{k.profession_image.url}}" class="img-fluid rounded-circle" alt="Cinque Terre">
                                        </div>
                                        <!-- End Profile img -->

                                        <!-- Start Professionist name & profession -->
                                        <div class="col-7 col-sm-3 col-md-3 pl-2">
                                           <a href="{% url 'profession-personal-details' k.id %}">
                                              <!-- Start Profession heading -->
                                              <div class="row">
                                                 <div class="col-sm-12 profession-name">
                                                    <!-- {{i.UserProfile.usertype.user_id.first_name}} {{i.UserProfile.usertype.user_id.last_name}} -->
                                                    {{k.shop_name}}
                                                 </div>
                                              </div>
                                              <!-- End Profession heading -->
                                              <!-- Start Profession sub heading -->
                                              <div class="row">
                                                 <div class="col-sm-12 profession-subheading">
                                                    {{k.UserProfile.usertype.user_id.first_name}} {{k.UserProfile.usertype.user_id.last_name}}
                                                    <!-- {{i.profession.Profession_Name}} -->
                                                 </div>
                                              </div>
                                              <!-- End Profession sub heading -->
                                           </a>
                                        </div>
                                        <!-- End Professionist name & profession -->

                                        <!-- Start Rating -->
                                        <div class="col-3 col-sm-2 col-md-2 pt-3">
                                           <div class="row">
                                              <div class="col-md-12 rating-online-status text-light">
                                                 <img class="img-fluid" src="{% static 'community_profession/img/flag.png' %}" alt="Chania">
                                                 &nbsp;
                                                 <span class="profession-subheading pt-5" >{{k.Profession_Rating}}</span>
                                              </div>
                                           </div>
                                        </div>
                                        <!-- End Rating -->

                                        <!-- Start Address -->
                                        <div class="col-12 col-sm-6 col-md-6  profession-address">
                                           <div class="row">
                                              <div class="col-md-12">
                                                {{k.shop_address}}, {{k.shop_city}}, {{k.shop_state}}
                                              </div>
                                           </div>
                                        </div>
                                        <!-- End Address -->
                                  </div>
                               </div>
                            </div>
                         </li>
                         <!-- End profession list by drop down -->
                         {% endfor %}
                     {% else %}
                        <li>
                             <div class="row pl-4">
                               <div class="col-md-12 text-center recent-searches-window">
                                  <div class="row">
                                     <div class="col-md-12 search-icon">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                     </div>
                                  </div>
                                  <div class="row">
                                     <div class="col-md-12 search-heading">
                                        No Profession List's
                                     </div>
                                  </div>
                                  <div class="row">
                                     <div class="col-md-12 search-sub-heading">
                                        <a href="" class="text-decoration-none">
                                             <i class="fa-solid fa-arrow-left" style="font-size:3.25rem"></i>
                                         </a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                        </li>
                     {% endif %}
                  </ul>
               <!-- End Search list -->
            </form>


         </div>
      </div>
   </div>
   <div class="col-12 col-sm-2 col-md-2"></div>
</div>
<!-- End find our artist and saloon window -->

<!-- search script -->
<script src="{% static 'community_profession/js/nearest-professions-list.js' %}"></script>
<!-- end search script -->


<!-- End finnd our artist and saloon window -->
{% endblock content %}