{% extends 'community_profession/community.html' %}
{% load static %}
{% block title %}
<title>Notification</title>
{% endblock title %}
{% block own_css %}
<!-- Ask Post CSS-->
<link rel="stylesheet" href="{% static 'community_profession/css/community/ask-post-pop-up-css.css' %}">
<!--   own css   -->
<link rel="stylesheet" href="{% static 'community_profession/css/community/community.css' %}">
<link rel="stylesheet" href="{% static 'community_profession/css/notification.css' %}">
{% endblock own_css %}


{% block community_content %}
<!-- Start Heading -->
<div class="row">
    <div class="col-md-12 notification-heading">
        Notifications
    </div>
</div>
<!-- End Heading -->

<!-- Start notification alert -->
<div class="row">
    <div class="col-md-12 notification-alert">
        <div class="alert alert-success">
            <!-- Start heading -->
            <div class="row">
                <div class="col-md-12 heading">
                    India’s biggest fashion dhamaka
                </div>
            </div>
            <!-- End heading -->
            <!-- Start content -->
            <div class="row">
                <div class="col-md-12 content">
                    Big fashion festival start to 23rd sep to 30 sep Add to cart your Item now
                </div>
            </div>
            <!-- End content -->
            <!-- Start date -->
            <div class="row">
                <div class="col-md-12 date">
                    Wed 20 Sep 2022
                </div>
            </div>
            <!-- End date -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 notification-alert">
        <div class="alert alert-success">
            <!-- Start heading -->
            <div class="row">
                <div class="col-md-12 heading">
                    India’s biggest fashion dhamaka
                </div>
            </div>
            <!-- End heading -->
            <!-- Start content -->
            <div class="row">
                <div class="col-md-12 content">
                    Big fashion festival start to 23rd sep to 30 sep Add to cart your Item now
                </div>
            </div>
            <!-- End content -->
            <!-- Start date -->
            <div class="row">
                <div class="col-md-12 date">
                    Wed 20 Sep 2022
                </div>
            </div>
            <!-- End date -->
        </div>
    </div>
</div>
<!-- End notification alert -->
{% endblock community_content %}

