{% extends 'community_profession/community.html' %}
{% load static %}
{% block title %}
<title>Notification</title>
{% endblock title %}
{% block own_css %}
<!-- Ask Post CSS-->
<link rel="stylesheet" href="{% static 'community_profession/css/community/ask-post-pop-up-css.css' %}">
<!--   own css   -->
<link rel="stylesheet" href="{% static 'community_profession/css/community/community.css' %}">
<link rel="stylesheet" href="{% static 'community_profession/css/notification.css' %}">
{% endblock own_css %}


{% block community_content %}
<!-- Start Heading -->
<div class="row">
    <div class="col-md-12 notification-heading">
        Notifications
    </div>
</div>
<!-- End Heading -->


<!-- Start notification alert -->
{% for i in notifications %}

    <!-- start post notification -->
    {% if i.post %}
        <div class="row">
            <!-- start Like notoification -->
            {% if i.notification_type == 1 %}
                <div class="col-md-12 notification-alert">
                    <div class="alert alert-success">
                        <!-- Start heading -->
                        <div class="row">
                            <div class="col-md-12 heading">
                                <a href="{% url 'profession-profile-screen' i.from_user.usertype.user_id.id %}" class="text-decoration-none text-dark">@{{i.from_user.usertype.user_id.first_name}} {{i.from_user.usertype.user_id.last_name}} </a>
                            </div>
                        </div>
                        <!-- End heading -->
                        <!-- Start content -->
                        <div class="row">
                            <div class="col-md-12 content">
                                <a href="{% url 'community-write-comment-screen' i.post.id %}" class="text-decoration-none text-dark"><i class="fa-solid fa-thumbs-up"></i> liked your post</a>
                                <!-- Big fashion festival start to 23rd sep to 30 sep Add to cart your Item now -->
                            </div>
                        </div>
                        <!-- End content -->
                        <!-- Start date -->
                        <div class="row">
                            <div class="col-md-12 date">
                                <!-- {{i.date}} -->
                            </div>
                        </div>
                        <!-- End date -->
                    </div>
                </div>
            <!-- End Like notoification -->
            <!-- start comment notoification -->
            {% elif i.notification_type == 2 %}
                <div class="col-md-12 notification-alert">
                    <div class="alert alert-success">
                        <!-- Start heading -->
                        <div class="row">
                            <div class="col-md-12 heading">
                                <a href="{% url 'profession-profile-screen' i.from_user.usertype.user_id.id %}" class="text-decoration-none text-dark">@{{i.from_user.usertype.user_id.first_name}} {{i.from_user.usertype.user_id.last_name}} </a>
                            </div>
                        </div>
                        <!-- End heading -->
                        <!-- Start content -->
                        <div class="row">
                            <div class="col-md-12 content">
                                <a href="{% url 'community-write-comment-screen' i.post.id %}" class="text-decoration-none text-dark"><i class="fa-solid fa-message"></i> Comment your post</a>

                                <!-- Big fashion festival start to 23rd sep to 30 sep Add to cart your Item now -->
                            </div>
                        </div>
                        <!-- End content -->
                        <!-- Start date -->
                        <div class="row">
                            <div class="col-md-12 date">
                                <!-- {{i.date}} -->
                            </div>
                        </div>
                        <!-- End date -->
                    </div>
                </div>
            <!-- End comment notoification -->
            {% endif %}
        </div>
    <!-- End post notification -->

    <!-- start comment notification -->
    {% elif i.comment %}
        <div class="row">
            <!-- start Like notoification -->
            {% if i.notification_type == 1 %}
                <div class="col-md-12 notification-alert">
                    <div class="alert alert-success">
                        <!-- Start heading -->
                        <div class="row">
                            <div class="col-md-12 heading">
                                <a href="{% url 'profession-profile-screen' i.from_user.usertype.user_id.id %}" class="text-decoration-none text-dark">@{{i.from_user.usertype.user_id.first_name}} {{i.from_user.usertype.user_id.last_name}} </a>
                            </div>
                        </div>
                        <!-- End heading -->
                        <!-- Start content -->
                        <div class="row">
                            <div class="col-md-12 content">
                                <a href="{% url 'Post_comment_reply' i.comment.id %}" class="text-decoration-none text-dark"><i class="fa-solid fa-thumbs-up"></i> liked your Comment</a>
                                <!-- Big fashion festival start to 23rd sep to 30 sep Add to cart your Item now -->
                            </div>
                        </div>
                        <!-- End content -->
                        <!-- Start date -->
                        <div class="row">
                            <div class="col-md-12 date">
                                <!-- {{i.date}} -->
                            </div>
                        </div>
                        <!-- End date -->
                    </div>
                </div>
            <!-- End Like notoification -->
            <!-- start comment notoification -->
            {% elif i.notification_type == 2 %}
                <div class="col-md-12 notification-alert">
                    <div class="alert alert-success">
                        <!-- Start heading -->
                        <div class="row">
                            <div class="col-md-12 heading">
                                <a href="{% url 'profession-profile-screen' i.from_user.usertype.user_id.id %}" class="text-decoration-none text-dark">@{{i.from_user.usertype.user_id.first_name}} {{i.from_user.usertype.user_id.last_name}} </a>
                            </div>
                        </div>
                        <!-- End heading -->
                        <!-- Start content -->
                        <div class="row">
                            <div class="col-md-12 content">
                                <a href="{% url 'Post_comment_reply' i.comment.id %}" class="text-decoration-none text-dark"><i class="fa-solid fa-message"></i> Reply your Comment</a>
                                <!-- Big fashion festival start to 23rd sep to 30 sep Add to cart your Item now -->
                            </div>
                        </div>
                        <!-- End content -->
                        <!-- Start date -->
                        <div class="row">
                            <div class="col-md-12 date">
                                <!-- {{i.date}} -->
                            </div>
                        </div>
                        <!-- End date -->
                    </div>
                </div>
            <!-- End comment notoification -->
            {% endif %}
        </div>
    <!-- end comment notification -->

    <!-- start question notification -->
    {% elif i.question %}
        <div class="row">
            <!-- start Like notoification -->
            {% if i.notification_type == 1 %}
                <div class="col-md-12 notification-alert">
                    <div class="alert alert-success">
                        <!-- Start heading -->
                        <div class="row">
                            <div class="col-md-12 heading">
                                <a href="{% url 'profession-profile-screen' i.from_user.usertype.user_id.id %}" class="text-decoration-none text-dark">@{{i.from_user.usertype.user_id.first_name}} {{i.from_user.usertype.user_id.last_name}} </a>
                            </div>
                        </div>
                        <!-- End heading -->
                        <!-- Start content -->
                        <div class="row">
                            <div class="col-md-12 content">
                                <a href="{% url 'Add_Answer' i.question.id %}" class="text-decoration-none text-dark"><i class="fa-solid fa-thumbs-up"></i> liked your Question</a>
                                <!-- Big fashion festival start to 23rd sep to 30 sep Add to cart your Item now -->
                            </div>
                        </div>
                        <!-- End content -->
                        <!-- Start date -->
                        <div class="row">
                            <div class="col-md-12 date">
                                Wed 20 Sep 2022
                            </div>
                        </div>
                        <!-- End date -->
                    </div>
                </div>
            <!-- End Like notoification -->
            <!-- start comment notoification -->    
            {% elif i.notification_type == 2 %}
                <div class="col-md-12 notification-alert">
                    <div class="alert alert-success">
                        <!-- Start heading -->
                        <div class="row">
                            <div class="col-md-12 heading">
                                <a href="{% url 'profession-profile-screen' i.from_user.usertype.user_id.id %}" class="text-decoration-none text-dark">@{{i.from_user.usertype.user_id.first_name}} {{i.from_user.usertype.user_id.last_name}} </a>
                            </div>
                        </div>
                        <!-- End heading -->
                        <!-- Start content -->
                        <div class="row">
                            <div class="col-md-12 content">
                                <a href="{% url 'Add_Answer' i.question.id %}" class="text-decoration-none text-dark"><i class="fa-solid fa-message"></i> Answer your Question</a>
                                <!-- Big fashion festival start to 23rd sep to 30 sep Add to cart your Item now -->
                            </div>
                        </div>
                        <!-- End content -->
                        <!-- Start date -->
                        <div class="row">
                            <div class="col-md-12 date">
                                <!-- {{i.date}} -->
                            </div>
                        </div>
                        <!-- End date -->
                    </div>
                </div>
            <!-- End comment notoification -->    
            {% endif %}
        </div>
    <!-- end question notification -->

    <!-- start answer notification -->
    {% elif i.answer %}
        <div class="row">
            <!-- start Like notoification -->
            {% if i.notification_type == 1 %}
                <div class="col-md-12 notification-alert">
                    <div class="alert alert-success">
                        <!-- Start heading -->
                        <div class="row">
                            <div class="col-md-12 heading">
                                <a href="{% url 'profession-profile-screen' i.from_user.usertype.user_id.id %}" class="text-decoration-none text-dark">@{{i.from_user.usertype.user_id.first_name}} {{i.from_user.usertype.user_id.last_name}} </a>
                            </div>
                        </div>
                        <!-- End heading -->
                        <!-- Start content -->
                        <div class="row">
                            <div class="col-md-12 content">
                                <a href="{% url 'Add_Answer_Reply' i.answer.id %}" class="text-decoration-none text-dark"><i class="fa-solid fa-thumbs-up"></i> Liked your Answer</a>
                                <!-- Big fashion festival start to 23rd sep to 30 sep Add to cart your Item now -->
                            </div>
                        </div>
                        <!-- End content -->
                        <!-- Start date -->
                        <div class="row">
                            <div class="col-md-12 date">
                                Wed 20 Sep 2022
                            </div>
                        </div>
                        <!-- End date -->
                    </div>
                </div>
            <!-- End Like notoification -->
            <!-- start comment notoification -->
            {% elif i.notification_type == 2 %}
                <div class="col-md-12 notification-alert">
                    <div class="alert alert-success">
                        <!-- Start heading -->
                        <div class="row">
                            <div class="col-md-12 heading">
                                <a href="{% url 'profession-profile-screen' i.from_user.usertype.user_id.id %}" class="text-decoration-none text-dark">@{{i.from_user.usertype.user_id.first_name}} {{i.from_user.usertype.user_id.last_name}} </a>
                            </div>
                        </div>
                        <!-- End heading -->
                        <!-- Start content -->
                        <div class="row">
                            <div class="col-md-12 content">
                                <a href="{% url 'Add_Answer_Reply' i.answer.id %}" class="text-decoration-none text-dark"><i class="fa-solid fa-message"></i> Replied your Answer</a>
                            </div>
                        </div>
                        <!-- End content -->
                        <!-- Start date -->
                        <div class="row">
                            <div class="col-md-12 date">
                                <!-- {{i.date}} -->
                            </div>
                        </div>
                        <!-- End date -->
                    </div>
                </div>
            <!-- End comment notoification -->
            {% endif %}
        </div>
    <!-- end answer notification -->

    {% else %}
    {% endif %}
{% endfor %}
<!-- End notification alert -->
{% endblock community_content %}

