<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Privacy Policy</title>

      <!-- Start CSS -->
      <link rel="stylesheet" href="{% static 'community_profession/css/bootstrap.min.css' %}">
      <!-- Common style guid css -->
      <link rel="stylesheet" href="{% static 'community_profession/css/style-guid.css' %}">

       <link rel="stylesheet" href="{% static 'community_profession/css/privacy-policy.css' %}">

      <!-- Start Scripts -->
      <script src="{% static 'community_profession/js/jquery.slim.min.js' %}"></script>
      <script src="{% static 'community_profession/js/popper.min.js' %}"></script>
      <script src="{% static 'community_profession/js/bootstrap.bundle.min.js' %}"></script>
      <!-- Font awsome kit -->
      <script src="{% static 'community_profession/js/font-awsome-kit.js' %}"></script>
      <!-- End Scripts -->
   </head>
   <body class="bg-dark" style="overflow-x: hidden;">
        <div class="container-fluid">
            <!-- Start Privacy Policy - heading -->
            <div class="row">
                <div class="col-md-12 privacy-policy-heading">
                    Privacy Policy for We Creators
                </div>
            </div>
            <!-- Start Privacy Policy - heading -->

            <!-- Start Privacy Policy - content -->
            <div class="row">
                <div class="col-md-12 privacy-policy-content text-justify">
                    At We creators, accessible from www.wecreators.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by We creators and how we use it.
                    <br><br>
                    If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.
                    <br><br>
                    This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in We creators. This policy is not applicable to any information collected offline or via channels other than this website.
                </div>
            </div>
            <!-- Start Privacy Policy - content -->

            <!-- Start Privacy Policy - Sub - heading -->
            <div class="row">
                <div class="col-md-12 privacy-policy-sub-heading">
                    Consent
                </div>
            </div>
            <!-- Start Privacy Policy - Sub - heading -->

            <!-- Start Privacy Policy - content -->
            <div class="row">
                <div class="col-md-12 privacy-policy-content text-justify">
                    By using our website, you hereby consent to our Privacy Policy and agree to its terms.
                </div>
            </div>
            <!-- Start Privacy Policy - content -->

            <!-- Start Privacy Policy - Sub - heading -->
            <div class="row">
                <div class="col-md-12 privacy-policy-sub-heading">
                    Information we collect
                </div>
            </div>
            <!-- Start Privacy Policy - Sub - heading -->

            <!-- Start Privacy Policy - content -->
            <div class="row">
                <div class="col-md-12 privacy-policy-content text-justify">
                    The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.
                    <br><br>
                    If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.
                    <br><br>
                    When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.
                </div>
            </div>
            <!-- Start Privacy Policy - content -->

            <!-- Start Privacy Policy - Sub - heading -->
            <div class="row">
                <div class="col-md-12 privacy-policy-sub-heading">
                    How we use your information
                </div>
            </div>
            <!-- Start Privacy Policy - Sub - heading -->

            <!-- Start Privacy Policy - Sub - heading -->
            <div class="row">
                <div class="col-md-12 privacy-policy-sub-heading pt-0">
                    <small>We use the information we collect in various ways, including to:</small>
                </div>
            </div>
            <!-- Start Privacy Policy - Sub - heading -->

            <!-- Start Privacy Policy - content -->
            <div class="row">
                <div class="col-md-12 privacy-policy-content text-justify">
                    <ul>
                        <li>Provide, operate, and maintain our website</li>
                        <li>Improve, personalize, and expand our website</li>
                        <li>Understand and analyze how you use our website</li>
                        <li>Develop new products, services, features, and functionality</li>
                        <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
                        <li>Send you emails</li>
                        <li>Find and prevent fraud</li>
                    </ul>
                </div>
            </div>
            <!-- Start Privacy Policy - content -->

            <!-- Start Privacy Policy - Sub - heading -->
            <div class="row">
                <div class="col-md-12 privacy-policy-sub-heading">
                    Log Files
                </div>
            </div>
            <!-- Start Privacy Policy - Sub - heading -->

            <!-- Start Privacy Policy - content -->
            <div class="row">
                <div class="col-md-12 privacy-policy-content text-justify">
                    We creators follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider
                    <br><br>
                    (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.
                </div>
            </div>
            <!-- Start Privacy Policy - content -->

            <!-- Start Privacy Policy - Sub - heading -->
            <div class="row">
                <div class="col-md-12 privacy-policy-sub-heading">
                    Cookies and Web Beacons
                </div>
            </div>
            <!-- Start Privacy Policy - Sub - heading -->

            <!-- Start Privacy Policy - content -->
            <div class="row">
                <div class="col-md-12 privacy-policy-content text-justify">
                    Like any other website, We creators uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.
                </div>
            </div>
            <!-- Start Privacy Policy - content -->

            <!-- Start Privacy Policy - Sub - heading -->
            <div class="row">
                <div class="col-md-12 privacy-policy-sub-heading">
                    Google Double Click DART Cookie
                </div>
            </div>
            <!-- Start Privacy Policy - Sub - heading -->

            <!-- Start Privacy Policy - content -->
            <div class="row">
                <div class="col-md-12 privacy-policy-content text-justify">
                    Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to www.website.com and other sites on the internet. However, visitors may choose to decline the use of DART cookies by visiting the Google ad and content network Privacy Policy at the following
                    <br>
                    <a href="https://policies.google.com/technologies/ads" class="text-decoration-none text-light" target="_blank">
                        URL – https://policies.google.com/technologies/ads
                    </a>
                </div>
            </div>
            <!-- Start Privacy Policy - content -->

            <!-- Start Privacy Policy - Sub - heading -->
            <div class="row">
                <div class="col-md-12 privacy-policy-sub-heading">
                    Our Advertising Partners
                </div>
            </div>
            <!-- Start Privacy Policy - Sub - heading -->

            <!-- Start Privacy Policy - content -->
            <div class="row">
                <div class="col-md-12 privacy-policy-content text-justify">
                    Some of advertisers on our site may use cookies and web beacons. Our advertising partners are listed below. Each of our advertising partners has their own Privacy Policy for their policies on user data. For easier access, we hyperlinked to their Privacy Policies below.
                    <ul class="pl-3 pt-3">
                        <li class="text-bolder">Google</li>

                        <a href="https://policies.google.com/technologies/ads" class="text-decoration-none text-light pt-0" target="_blank">
                            URL – https://policies.google.com/technologies/ads
                        </a>
                    </ul>
                </div>
            </div>
            <!-- Start Privacy Policy - content -->

            <!-- Start Privacy Policy - Sub - heading -->
            <div class="row">
                <div class="col-md-12 privacy-policy-sub-heading">
                    Advertising Partners Privacy Policies
                </div>
            </div>
            <!-- Start Privacy Policy - Sub - heading -->

            <!-- Start Privacy Policy - content -->
            <div class="row">
                <div class="col-md-12 privacy-policy-content text-justify">
                    You may consult this list to find the Privacy Policy for each of the advertising partners of We creators.
                    <br><br>
                    Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on We creators, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.
                    <br><br>
                    Note that We creators has no access to or control over these cookies that are used by third-party advertisers.
                </div>
            </div>
            <!-- Start Privacy Policy - content -->

            <!-- Start Privacy Policy - Sub - heading -->
            <div class="row">
                <div class="col-md-12 privacy-policy-sub-heading">
                    Third Party Privacy Policies
                </div>
            </div>
            <!-- Start Privacy Policy - Sub - heading -->

            <!-- Start Privacy Policy - content -->
            <div class="row">
                <div class="col-md-12 privacy-policy-content text-justify">
                    We creators's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options.
                    <br><br>
                    You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.
                </div>
            </div>
            <!-- Start Privacy Policy - content -->

            <!-- Start Privacy Policy - Sub - heading -->
            <div class="row">
                <div class="col-md-12 privacy-policy-sub-heading">
                    CCPA Privacy Rights (Do Not Sell My Personal Information)
                    <br>
                    <small>Under the CCPA, among other rights, California consumers have the right to:</small>
                </div>
            </div>
            <!-- Start Privacy Policy - Sub - heading -->

             <!-- Start Privacy Policy - content -->
            <div class="row pt-2">
                <div class="col-md-12 privacy-policy-content text-justify">
                    Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.
                    <br><br>
                    Request that a business delete any personal data about the consumer that a business has collected.
                    <br><br>
                    Request that a business that sells a consumer's personal data, not sell the consumer's personal data.
                    <br><br>
                    If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.
                </div>
            </div>
            <!-- Start Privacy Policy - content -->

            <!-- Start Privacy Policy - Sub - heading -->
            <div class="row">
                <div class="col-md-12 privacy-policy-sub-heading">
                    GDPR Data Protection Rights
                    <br>
                    <small>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</small>
                </div>
            </div>
            <!-- Start Privacy Policy - Sub - heading -->

             <!-- Start Privacy Policy - content -->
            <div class="row pt-2">
                <div class="col-md-12 privacy-policy-content text-justify">
                    The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.
                    <br><br>
                    The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.
                    <br><br>
                    The right to erasure – You have the right to request that we erase your personal data, under certain conditions.
                    <br><br>
                    The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.
                    <br><br>
                    The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.
                    <br><br>
                    The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.
                    <br><br>
                    If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.
                </div>
            </div>
            <!-- Start Privacy Policy - content -->

            <!-- Start Privacy Policy - Sub - heading -->
            <div class="row">
                <div class="col-md-12 privacy-policy-sub-heading">
                    Children's Information
                </div>
            </div>
            <!-- Start Privacy Policy - Sub - heading -->

             <!-- Start Privacy Policy - content -->
            <div class="row pt-2">
                <div class="col-md-12 privacy-policy-content text-justify">
                    Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.
                    <br><br>
                    We creators does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.
                </div>
            </div>
            <!-- Start Privacy Policy - content -->
        </div>
   </body>
</html>