{% extends 'community_profession/index.html' %}
{% load static %}
{% block title %}
<title>Index page</title>
{% endblock title %}

{% block own_css %}
<!--   own css   -->
<link rel="stylesheet" href="{% static 'community_profession/css/profession-personal-details.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'community_profession/css/community/ask-post-pop-up-css.css' %}">
<!-- video-screen css -->
<link rel="stylesheet" href="{% static 'community_profession/css/video-screen.css' %}">
{% endblock own_css %}


{% block content %}

<div class="row pl-3">
   <div class="col-md-12 all-comments">
       <!-- Start user-profile, user-community-name, time -->
       <div class="row">
           <!-- Start user-profile -->
           <div class="col-2 col-sm-1 col-md-1">
               <img class="img-fluid rounded-circle" src="{{Profession_review.user_profile.profile_image.url}}" alt="Chania">
           </div>
           <!-- End user-profile -->

           <!-- Start user-community-name, time -->
           <div class="col-10 col-sm-11 col-md-11 user-community-name">
               {{Profession_review.user_profile.usertype.user_id.first_name}} {{Profession_review.user_profile.usertype.user_id.last_name}} <br> 
               <span class="time">{{Profession_review.Review_Date}} / {{Profession_review.Review_Time}}</span>
           </div>
           <!-- End user-community-name, time -->
       </div>
       <!-- End user-profile, user-community-name, time -->

       <!-- Start comment -->
       <div class="row pt-2">
           <div class="col-12 col-sm-12 col-md-12 comment">
               {{Profession_review.Review}}
           </div>
       </div>
       <!-- End comment -->

       <!-- Start like-reply-share -->
       <div class="row">
         <div class="col-md-12">
            <span class="likes-heading">
            <img src="{% static 'community_profession/img/indian-flag-icon.png' %}" class="img-fluid d-inline-block" alt="Responsive image"> &nbsp; {{Profession_review.Rate}}
            </span>
            <span class="d-inline-block">
               <form action="{% url 'like_Review' %}" method="POST" class="like-form" id="{{Profession_review.id}}">
                  {% csrf_token %}
                  <input type="hidden" name="post_id" value="{{Profession_review.id}}">
                     <button type="submit" class="btn community-like-dislike-btn like-btn{{Profession_review.id}}">
                        {% if userprofile not in Profession_review.like.all %}
                           <i class="fa-solid fa-thumbs-up"></i>
                        {% else %}
                           <i class="fa-solid fa-thumbs-down"></i>
                        {% endif %} 
                     </button>
                  <span class="btn community-like-dislike-btn like-count{{Profession_review.id}}">{{ Profession_review.like.all.count }}</span>
               </form>
            </span>
            <span class="community-like-dislike-btn">
               &nbsp;
               <i class="fa-solid fa-reply pl-3"></i> &nbsp;
                  {% if Profession_review.Reply is None %}
                  0
                  {% else %}
                  {{Profession_review.Reply}}
                  {% endif %}
            </span>
         </div>
      </div>
       <!-- Start like-reply-share -->
   </div>
</div>
<hr color="ffffff">


<!-- Comment : {{Profession_review.Review}} -->
 <!-- Start Reply text-box, post-btn, options -->
 <form action="{% url 'review_Reply' Profession_review.id %}" method="POST">
   {% csrf_token %}
   <div class="row pl-3 reply-form">
      <!-- Start reply-input-box -->
      <div class="col-md-10 pt-3">
         <div class="form-group">
            <input required name="reply" type="text" class="form-control form-control-sm" id="usr" placeholder="Your Reply">
         </div>
      </div>
      <!-- End reply-input-box -->
      <!-- Start post btn -->
      <div class="col-md-2 pt-3">
         <button type="submit" class="btn btn-block btn-sm btn-normal-b">Post</button>
      </div>
         
      <!-- End post btn -->
      <!-- Start options -->
      <!-- <div class="col-md-1 pt-3 options">
         <div class="dropdown dropleft float-right">
               <button type="button" class="btn btn-sm btn-block text-light" data-toggle="dropdown">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
               </button>
               <div class="dropdown-menu">
               <a class="dropdown-item" href="#">Block Account</a>
               <a class="dropdown-item" href="#">Delete</a>
               <a class="dropdown-item" href="#">Hide Reply</a>
               </div>
         </div>
      </div> -->
      <!-- End options -->
   </div>
</form>
<!-- End Reply text-box, post-btn, options -->

{% for i in Review_obj %}
<!-- Start Comment -->
<div class="row pt-4">
  <div class="col-md-12 comment">
     <!-- Start user profile-img & user name  -->
     <div class="row">
        <!-- Start user profile-img  -->
        <div class="col-md-1">
           <img class="img-fluid rounded-circle" src="{{i.User_Profile.profile_image.url}}" alt="Chania">
        </div>
        <!-- End user profile-img  -->
        <!-- Start user name -->
        <div class="col-md-10">
           <!-- Start User name heading -->
           <div class="row">
              <div class="col-md-12 user-name-heading">
                {{i.User_Profile.usertype.user_id.first_name}} {{i.User_Profile.usertype.user_id.last_name}}
              </div>
           </div>
           <!-- End User name heading -->

           <!-- Start username-sub-heading -->
           <div class="row">
              <div class="col-md-12 username-sub-heading">
                 {{i.Review_Reply_Date}} {{i.Review_Reply_Time}} 
                 <!-- ago -->
              </div>
           </div>
           <!-- End username-sub-heading -->
        </div>
        <!-- End user name -->
        {% if userprofile.id is i.User_Profile.id %}
         <div class="col-md-1 pt-3 options">
            <div class="dropdown dropleft float-right">
               <button type="button" class="btn btn-sm btn-block text-light" data-toggle="dropdown">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
               </button>
               <div class="dropdown-menu">
                  <!-- <a class="dropdown-item" href="#">Block Account</a> -->
                  <a class="dropdown-item" href="{% url 'review_reply_delete' i.id %}">Delete</a>
                  <a class="dropdown-item" href="#" data-target="#modal3" data-toggle="modal" onclick="data('{{i.id}}','{{i.Review_Reply}}')">Edit Reply</a>
               </div>
            </div>
         </div>
         {% endif %}
     </div>
     <!-- End user profile-img & user name  -->

     <!-- Start comment-conetnt -->
     <div class="row pt-1">
        <div class="col-md-12 comment-conetnt">
           {{i.Review_Reply}}
        </div>
     </div>
     <!-- End comment-conetnt -->
  </div>
</div><br><hr color="ffffff"><br>
<!-- End Comment -->
{% endfor %}
<div class="modal create-community-modeal" id="modal3">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Edit Review Reply</h5>
            <a href="#" data-dismiss="modal" class="close">&times;</a>
         </div>
         <form action="" id="EditReviewReply" method="POST">
            {% csrf_token %}
            <div class="modal-body">
               <div class="form-group">
                  <label for="" class="modal-sub-heading">Review Reply</label>
                  <input type="text" class="form-control" name="Review_reply" id="demo1" required="true">
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
               <a href="#">
               <button type="submit" class="btn btn-normal-b">Update Review Reply</button>
               </a>
            </div>
         </form>
      </div>
   </div>
</div>
<script>
   function data(id,val1){
      document.getElementById('EditReviewReply').action ='/edit_review_reply/'+id;
      document.getElementById("demo1").value = val1;
   }
</script>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
   $('.like-form').submit(function(e){
      e.preventDefault()
      //console.log('works')
      const post_id = $(this).attr('id')
      //console.log(post_id)
      const liketext = $(`.like-btn${post_id}`).html()
      //console.log(liketext)
      const trim = $.trim(liketext)
      //console.log(trim)
      const url = $(this).attr('action')
      //console.log(url)
      let res;
      const likes = $(`.like-count${post_id}`).text()
      //console.log(likes + 1)
      const trimCount = parseInt(likes)
      //console.log(trimCount + 1)

      $.ajax(
         {
         type : "POST",
         url : url,
         data : {
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            'post_id':post_id,
         },
         success: function(response){
            //console.log('success', response)
            if(trim === '<i class="fa-solid fa-thumbs-down"></i>') {
               $(`.like-btn${post_id}`).html('<i class="fa-solid fa-thumbs-up"></i>')
               res = trimCount - 1
            } else {
               $(`.like-btn${post_id}`).html('<i class="fa-solid fa-thumbs-down"></i>')
               res = trimCount + 1
            }

           $(`.like-count${post_id}`).text(res)
         },
         error: function(response) {
            console.log('error', response)
        }
      }
      )

   })
</script>
{% endblock content %}

