{% extends 'community_profession/index.html' %}
{% load static %}
{% block title %}
<title>All Photos & Videos</title>
{% endblock title %}
{% block own_css %}
<!--   own css   -->
<link rel="stylesheet" href="{% static 'community_profession/css/community/ask-post-pop-up-css.css' %}">
<style>
   .see-all-photos-videos .img-fluid
   {
      height:250px;
   }
</style>
{% endblock own_css %}
{% block content %}
<!-- Start all photos and videos -->
<div class="row see-all-photos-videos">
   <div class="col-md-12 p-4">
      <h4>Image</h4>
      <div class="row">
         {% for i in Profession_Image_obj %}
         <div class="col-md-3 mt-4">
            <div class="row">
               <div class="col-md-12">
                  <a href="{% url 'photo-screen' i.id %}" class="text-light">
                  <img src="{{i.image.url}}" class="img-fluid rounded" width="100%">
                  </a>
               </div>
            </div>
            <div class="row">
               <div class="col-6 col-sm-6 col-md-6">
                  <a href="{% url 'photo-screen' i.id %}" class="btn btn-normal btn-sm text-dark m-2">
                     <i class="fa-solid fa-eye"></i>
                  </a>
               </div>
               <div class="col-6 col-sm-6 col-md-6 text-right">
                  <form action="{% url 'delete_Image' i.id %}">
                     <button type="submit" value="{{i.profession.id}}" name="profession" class="btn btn-normal btn-sm text-dark m-2">
                        <i class="fa-solid fa-trash-can"></i>
                     </button>
                  </form>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
      <h4>Video</h4>
      <div class="row">
         {% for j in Profession_video_obj %}
         <div class="col-md-3 mt-4">
            <div class="row">
               <div class="col-md-12">
                  <a href="{% url 'video-screen' j.id %}" class="text-light">
                     <video src="{{j.video.url}}"  width="100%" class="rounded"></video>
                  </a>
               </div>
            </div>
            <div class="row">
               <div class="col-6 col-sm-6 col-md-6">
                  <a href="{% url 'video-screen' j.id %}" class="btn btn-normal btn-sm text-dark m-2">
                     <i class="fa-solid fa-eye"></i>
                  </a>
               </div>
               <div class="col-6 col-sm-6 col-md-6 text-right">
                  <form action="{% url 'delete_Video' j.id %}">
                     <button type="submit" value="{{j.profession.id}}" name="profession" class="btn btn-normal btn-sm text-dark m-2">
                        <i class="fa-solid fa-trash-can"></i>
                     </button>
                  </form>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
<!-- End all photos and videos -->
{% endblock content %}