{% extends 'community_profession/community.html' %}
{% load static %}
{% block title %}
<title>Write Comment</title>
{% endblock title %}
{% block own_css %}
<!--   use Community css as a base css   -->
<link rel="stylesheet" href="{% static 'community_profession/css/community/community.css' %}">
<!-- own css Community write comment screen css -->
<link rel="stylesheet" href="{% static 'community_profession/css/community/community-write-comment-screen.css' %}">
<link rel="stylesheet" href="{% static 'community_profession/css/community/ask-post-pop-up-css.css' %}">
{% endblock own_css %}
{% block community_content %}
<!-- Start community-profile-img, heading, members -->
<div class="row community-body">
   <!-- Start Profile picture -->
   <div class="col-2 col-sm-1 col-md-1   community-post-profile-picture">
      <img class="img-fluid rounded-circle" src="{{i.Community_obj.Community_Profile_Image.url}}" alt="Chania" height="100%" width="100%">
   </div>
   <!-- End Profile picture -->

   <!-- Start Community name and time -->
   <div class="col-9 col-sm-11 col-md-11 pl-0">
      <!-- Start community name -->
      <div class="row">
         <div class="col-md-12 community-name pl-0">
            {{i.Community_obj.Community_Name}}
         </div>
      </div>
      <!-- End community name -->
      <!-- Start community time -->
      <div class="row">
         <div class="col-md-12 community-time pl-0">
            Members : 0
            <!-- Ago -->
         </div>
      </div>
      <!-- End community time -->
   </div>
   <!-- End Community name and time -->
</div>
<!-- End community-profile-img, heading, members -->

<!-- Start Community description -->
<div class="row pl-3 community-body">
   <!-- Start community-sub-heading -->
   <div class="col-12 col-sm-12 col-md-12 community-description pt-2">
      {{i.user_post.Description}}
   </div>
   <!-- End community-sub-heading -->
</div>
<!-- End Community description -->

<!-- Start post-img-video -->
{% if i.user_post.Image %}
<div class="row community-body pl-4">
   <div class="col-md-12 community-post-image">
      <div class="row community-post-image-background">
         <div class="col-md-3"></div>

         <div class="col-md-6">
            <img src="{{i.user_post.Image.url}}" alt="" class="img-fluid" width="100%">
         </div>

         <div class="col-md-3"></div>
      </div>
   </div>
</div>
{% else %}
<div></div>
{% endif %}
<!-- End post-img-video -->

<!-- Start no-of-like, no-of-comments, share -->
<div class="row ">
   <div class="col-md-12 pl-5">
      <div class="row  pt-3 pb-3 like-comment-share border-bottom">
         <!-- Start no-of-like -->
         <span>
         <a href="/like_post/15">

         <button type="submit" class="btn community-like-dislike-btn">
         <i class="fa-solid fa-thumbs-up"></i>
         </button>

         </a>
         <span class="community-like-dislike-btn">
         0
         </span>
         </span>
         <!-- End no-of-like -->
         <!-- Start  no-of-comments -->
         <span class=" community-like-dislike-btn pt-2">
         &nbsp; &nbsp; <i class="fa-solid fa-message"></i>  &nbsp; {{count}}
         </span>
         <!-- End  no-of-comments -->
         <!-- Start share -->
         <span>
            <button type="button" class="btn community-like-dislike-btn" data-target="#share-modal" data-toggle="modal">
               <i class="fa-solid fa-share-nodes"></i>
            </button>
         </span>
         <!-- End share -->
      </div>
   </div>
</div>
<!-- End no-of-like, no-of-comments, share -->

<!-- Start login user -profile, name  -->
<div class="row community-body pt-3 pl-3">
   <!-- Start Profile picture -->
   {% if userprofile.profile_image %}
   <div class="col-2 col-sm-1 col-md-1   community-post-profile-picture">
      <img class="img-fluid rounded-circle" src="{{userprofile.profile_image.url}}" alt="Chania" height="100%" width="100%">
   </div>
    {% else %}
   <div></div>
   {% endif %}
   <!-- End Profile picture -->

   <!-- Start Community name and time -->
   <div class="col-9 col-sm-11 col-md-11 pl-0">
      <!-- Start community name -->
      <div class="row">
         <div class="col-md-12 community-name pl-0 pt-2">
            {{userprofile.usertype.user_id.first_name}} {{userprofile.usertype.user_id.last_name}}
         </div>
      </div>
      <!-- End community name -->
   </div>
   <!-- End Community name and time -->
</div>
<!-- End login user -profile, name  -->

<!-- Start Post form -->
<form action="{% url 'community-write-comment-screen' i.id %}" method="POST">
   {% csrf_token %}
   <!-- Start comment-text-box -->
   <div class="row pl-3">
      <div class="col-md-12 pt-3 comment-text-box">
         <div class="form-group">
            <textarea name="Comment" class="form-control" rows="5" id="comment" placeholder="What do you think?" required></textarea>
         </div>
      </div>
   </div>
   <!-- End comment-text-box -->
   <!-- Start cancel-post-btn -->
   <div class="row pl-3 pt-3  cancel-post-btn">
      <div class="col-md-12 pb-3 text-right border-bottom">
         <!-- Start cancel-btn -->
         <!--            <span class="cancel-btn">-->
         <!--                <button type="button" class="btn pl-5 pr-5">Cancel</button>-->
         <!--            </span>-->
         <!-- End cancel-btn -->
         <!-- Start post-btn -->
         <span class="post-btn">
         <button type="submit" class="btn pl-5 pr-5">Post</button>
         </span>
         <!-- End post-btn -->
      </div>
   </div>
   <!-- End cancel-post-btn -->
</form>
<!-- End Post form -->



{% for All_comment in All_comment %}
<!-- Start Comments -->
<div class="row pl-3">
   <div class="col-md-12 all-comments border-bottom pb-3 pt-3">

      <!-- Start user-profile, user-community-name, time -->
      <div class="row community-body">
         <!-- Start Profile picture -->
         <div class="col-2 col-sm-1 col-md-1   community-post-profile-picture">
            <img class="img-fluid rounded-circle" src="{{All_comment.Community_Comment.User_Profile.profile_image.url}}" alt="Chania" height="100%" width="100%">
         </div>
         <!-- End Profile picture -->

         <!-- Start Community name and time -->
         <div class="col-9 col-sm-11 col-md-11 pl-0">
            <!-- Start community name -->
            <div class="row">
               <div class="col-md-12 community-name pl-0">
                  {{All_comment.Community_Comment.User_Profile.usertype.user_id.first_name}} {{All_comment.Community_Comment.User_Profile.usertype.user_id.last_name}}
               </div>
            </div>
            <!-- End community name -->
            <!-- Start community time -->
            <div class="row">
               <div class="col-md-12 community-time pl-0">
                  {{All_comment.Community_Comment.Comment_Date}} / {{All_comment.Community_Comment.Commenet_Time}}
                  <!-- Ago -->
               </div>
            </div>
            <!-- End community time -->
         </div>
         <!-- End Community name and time -->
      </div>
      <!-- End user-profile, user-community-name, time -->

      <!-- Start comment -->
      <div class="row pt-2">
         <div class="col-md-12 comment">
            {{All_comment.Community_Comment.Comment}}
         </div>
      </div>
      <!-- End comment -->

      <!-- Start like-reply-share -->
      <div class="row ">
         <div class="col-md-12 pl-5">
            <div class="row  pt-3 pb-3 like-comment-share">
               <!-- Start no-of-like -->
               <span>
               <a href="/like_post/15">

               <button type="submit" class="btn community-like-dislike-btn">
               <i class="fa-solid fa-thumbs-up"></i>
               </button>

               </a>
               <span class="community-like-dislike-btn">
               1.2K
               </span>
               </span>
               <!-- End no-of-like -->
               <!-- Start  no-of-comments -->
               <span class=" community-like-dislike-btn pt-2">
               &nbsp; &nbsp; <i class="fa-solid fa-message"></i>  &nbsp;
               </span>
               <!-- End  no-of-comments -->
               <!-- Start share -->
               <span>
                  <button type="button" class="btn community-like-dislike-btn" data-target="#share-modal" data-toggle="modal">
                     <i class="fa-solid fa-share-nodes"></i>
                  </button>
               </span>
               <!-- End share -->
            </div>
         </div>
      </div>
      <!-- Start like-reply-share -->
   </div>
</div>
<!-- End Comments -->
{% endfor %}
{% endblock community_content %}